<!-- <img class=" h-100 w-100 position-absolute" style=" filter: blur(8px);
-webkit-filter: blur(8px);"
src="https://i.pinimg.com/236x/f7/e1/d3/f7e1d3787ed90445c961f1d9a1150060.jpg"> -->
<div class=" d-flex justify-content-end m-1" >
    <a class=" text-black display-5" routerLink="">
    <i class="fa fa-close" aria-hidden="true"></i>
    </a>   
</div>

<div id="Section4" class="position-relative ms-5">
    <div >
        <h1 class=" text text-5xl">You have no idea what you are capable of , until you try...!</h1>
    </div>
    <div class="mt-5 mb-5">
        <h1 style="font-weight: bold;" >Education</h1>
        <div class="m-5">
        <h4>Chandigarh University, Mohali, Punjab</h4>
        B.E., Computer Science, and Engineering, July 2020
        <h4>Saharanpur Public School, Saharanpur, Uttar Pradesh</h4>
        12th, 70.6% : Passout - 2016
        <h4>Saharanpur Public School, Saharanpur, Uttar Pradesh</h4>
        10th, 77.6% : Passout-2014
    </div>
    </div>
</div>
