<div class=" d-flex justify-content-end m-1" >
    <a class=" text-black display-5" routerLink="">
    <i class="fa fa-close" aria-hidden="true"></i>
    </a>   
</div>

<div  class="contain">

    <div class="skills m-5"> 
        <h1>Languages</h1> <!-- heading -->
        <li>
            <h3>HTML</h3><span class="bar"><span class="html"></span></span> <!-- skill bar 1 -->
        </li>

        <li>
            <h3>Css</h3><span class="bar"><span class="css"></span></span><!-- skill bar 2 -->
        </li>

        <li>
            <h3>JavaScript</h3><span class="bar"><span class="javascript"></span></span><!-- skill bar 3 -->
        </li>

        <li>
            <h3>Java</h3><span class="bar"><span class="jquery"></span></span><!-- skill bar 4 -->
        </li>
    </div>    
    <div class="skills m-5">  <!-- create a div -->
        <h1>Libraries</h1> <!-- heading -->
        <li>
            <h3>Angular </h3><span class="bar"><span class="html"></span></span> <!-- skill bar 1 -->
        </li>

        <li>
            <h3>Ng-Prime</h3><span class="bar"><span class="css"></span></span><!-- skill bar 2 -->
        </li>

        <li>
            <h3>Express</h3><span class="bar"><span class="javascript"></span></span><!-- skill bar 3 -->
        </li>

        <li>
            <h3>Angular Material</h3><span class="bar"><span class="jquery"></span></span><!-- skill bar 4 -->
        </li>
    
    </div>

    <div class="skills m-5">  <!-- create a div -->
        <h1>Frameworks</h1> <!-- heading -->
        <li>
            <h3>Angular </h3><span class="bar"><span class="html"></span></span> <!-- skill bar 1 -->
        </li>

        <li>
            <h3>Node JS</h3><span class="bar"><span class="css"></span></span><!-- skill bar 2 -->
        </li>

        <li>
            <h3>Jasmine</h3><span class="bar"><span class="javascript"></span></span><!-- skill bar 3 -->
        </li>
    
    </div>
    <div class="skills m-5">  <!-- create a div -->
        <h1>SDLC/Methadologies</h1> <!-- heading -->
        <li>
            <h3>Agile/Scrum </h3><span class="bar"><span class="html"></span></span> <!-- skill bar 1 -->
        </li>
    </div>    
    
</div>    