
  <div class="flip-card mt-5 container1" >
     <div class="flip-card-inner position-relative  w-300">
       <div class="flip-card-front w-100 position-absolute">
         <h1 class="display-2 text-black mt-5">Who am I?</h1>
       </div>
       <div class="flip-card-back position-absolute container1 m-5" style="background-color: rgb(194, 157, 228); border: solid rgb(28, 14, 216) 2px;">
        <h4 class="ms-2 me-2 mt-2" style="font-size: larger ;  ">Hello, I'm RAESHAL, an experienced Angular developer with 
          a passion for crafting elegant and robust web applications. <br> Over the past three years, 
          I've honed my skills in front-end development and have had the opportunity to work on various
          projects that have enriched my expertise in Angular.</h4>  
        
       </div>
      
     </div>

     
   </div>

<!-- <div class="container w-25 h-25">
   <label> Resume</label>
     <a  href="../Raeshal Khurana (5).pdf" download class="download-btn">Download
      <i class="fa fa-download" aria-hidden="true"></i></a>
    
</div>
    -->