<img class=" h-100 w-100 position-absolute" style=" filter: blur(8px);
-webkit-filter: blur(8px);"
src="https://i.pinimg.com/236x/d3/7e/a4/d37ea4eb4d65cd7a77077c28a09d133c.jpg">


<main class=" ms-5 mt-5 d-flex position-static  flex-row " >
  <div class="container position-relative">
    <h5>Hello I'm</h5>
    <h1>Raeshal Khurana</h1>
    <h5 class="text-light">Angular Developer</h5>
    <div class="cta">
      <a href="/static/media/cv_meri_gogichashvili.8be4addddb7f9d4f49aa.pdf" download="" class="btn">Download CV</a>
    <a class="btn btn-primary text-white">Let's talk</a>
    </div>
  </div>
 
    <!-- <p class="display-1 text-white">Hello 👋 I'm</p>
    <section class=" animation">
      <div class=" ms-1  mb-2 first display-1 text-white bg-black">Raeshal Khurana</div>
      <div class="ms-1 mb-2 second display-1 text-white bg-black">UI/UX Designer</div>
      <div class="ms-1  second display-1 text-white bg-black">Web Developer</div>
    </section> -->
  </main>

<!-- 
<div class="card mt-5  ">
  <h1>Raeshal Khurana</h1>
  <p class="title">Angular Developer</p>
  <p>Tata Consultancy Services Limited</p>
  <a href="#"><i class="fa fa-dribbble"></i></a>
  <a href="#"><i class="fa fa-twitter"></i></a>
  <a href="#"><i class="fa fa-linkedin"></i></a>
  <a href="#"><i class="fa fa-facebook"></i></a>
  <p><button>Contact</button></p>
</div> -->
