
<div class=" abt-one m-5">
    <div>
        <label class=" display-1">Me</label>
            <h4>In my journey as a developer, I've had the privilege of working on
                <br>
                diverse Angular projects where I had the chance to design, develop, 
                and maintain user-friendly web applications & dashboards whether it is timesheet-entry or displaying data in highcharts & piecharts . I've gained hands-on experience in building responsive
                and dynamic user interfaces, using the latest features of Angular and best practices for code optimization. Additionally, 
                I have a strong foundation in HTML, CSS, and JavaScript, 
                which allows me to create seamless and visually appealing web experiences.</h4>      
    </div>
    <div>
            <!-- Resume Download Button -->
           <a href="assets/Resume.pdf" download="Raeshal-Khurana-Resume.pdf" class="btn btn-secondary shadow mt-3">
            📄 Download Resume
        </a>
    </div>
         
 </div>  

 