<!-- 
<div class="me-5 ms-5 mt-5 fs-3">
    <div class="d-flex justify-content-center font display-1 text-white">
        <label >Experience</label>   
    </div>
    
    <div class="d-flex mt-5 font container1">
        <p>I'm UI/UX Designer from India working as an Angular developer in TCS. I enjoy turning complex problems into simple,
        beautiful and intuitive designs.
        My aim is to bring across your message and identity in the most creative way. I enjoy designing animated websites and
        would like to turn my passion and interest into Career!</p>
        
       
    </div>
    <a class="text-white " routerLink="">
        <i class="fa fa-close" aria-hidden="true"></i>
    </a>
    </div>
    
     -->
     <img class=" h-100 w-100 position-absolute" style=" filter: blur(8px);
-webkit-filter: blur(8px);"
src="https://i.pinimg.com/236x/f7/e1/d3/f7e1d3787ed90445c961f1d9a1150060.jpg">


<div class="d-flex font ">
     <div class="flip-card mt-5 ms-5 w-300 h-200 container1">
        <div class="flip-card-inner position-relative w-100 h-100 ">
          <div class="flip-card-front w-100 h-100 position-absolute">
            <h1 class="display-4 text-black mt-5 ">Wipro Limited</h1>
          </div>
          <div class="flip-card-back  w-100 h-100 position-absolute">
            <h1></h1>
            <p></p>
            <p></p>
          </div>
        </div>
      </div>
      <div class="flip-card mt-5 ms-5 w-300 h-200 container1">
        <div class="flip-card-inner position-relative w-100 h-100 ">
          <div class="flip-card-front w-100 h-100 position-absolute">
            <h1 class="display-4 text-black mt-2">Tata Consultancy Limited</h1>
          </div>
          <div class="flip-card-back2  w-100 h-100 position-absolute">
            <h1></h1>
            <p></p>
            <p></p>
          </div>
        </div>
      </div>
      <div class="flip-card mt-5 ms-5 w-300 h-200 container1">
        <div class="flip-card-inner position-relative w-100 h-100 ">
          <div class="flip-card-front w-100 h-100 position-absolute">
            <h1 class="display-4 text-black mt-2">Tata Consultancy Limited</h1>
          </div>
          <div class="flip-card-back2  w-100 h-100 position-absolute">
            <h1></h1>
            <p></p>
            <p></p>
          </div>
        </div>
      </div>
    </div>      
  
<div class="d-flex font ">
  <div class="flip-card mt-5 ms-5 w-300 h-200 container1">
     <div class="flip-card-inner position-relative w-100 h-100 ">
       <div class="flip-card-front w-100 h-100 position-absolute">
         <h1 class="display-4 text-black mt-5 ">Wipro Limited</h1>
       </div>
       <div class="flip-card-back  w-100 h-100 position-absolute">
         <h1></h1>
         <p></p>
         <p></p>
       </div>
     </div>
   </div>
   <div class="flip-card mt-5 ms-5 w-300 h-200 container1">
     <div class="flip-card-inner position-relative w-100 h-100 ">
       <div class="flip-card-front w-100 h-100 position-absolute">
         <h1 class="display-4 text-black mt-2">Tata Consultancy Limited</h1>
       </div>
       <div class="flip-card-back2  w-100 h-100 position-absolute">
         <h1></h1>
         <p></p>
         <p></p>
       </div>
     </div>
   </div>
   <div class="flip-card mt-5 ms-5 w-300 h-200 container1">
     <div class="flip-card-inner position-relative w-100 h-100 ">
       <div class="flip-card-front w-100 h-100 position-absolute">
         <h1 class="display-4 text-black mt-2">Tata Consultancy Limited</h1>
       </div>
       <div class="flip-card-back2  w-100 h-100 position-absolute">
         <h1></h1>
         <p></p>
         <p></p>
       </div>
     </div>
   </div>
 </div>      
     
      <!-- <div class="flip-card mt-5 ms-5 w-300 h-200 container1">
        <div class="flip-card-inner position-relative w-100 h-100 ">
          <div class="flip-card-front w-100 h-100 position-absolute">
            <h1 class="display-4 text-black mt-5 ">Wipro Limited</h1>
          </div>
          <div class="flip-card-back  w-100 h-100 position-absolute">
            <h1></h1>
            <p></p>
            <p></p>
          </div>
        </div>
      </div> -->
      

