
  <div class=" font d-flex gap-5">
      <div class="flip-card mt-5 ms-5 w-75 h-200 ">
          <div class="flip-card-inner position-relative w-100 h-100 ">
            <div class="flip-card-front w-100 h-100 position-absolute">
              <h1 class="display-4 text-black mt-5 ">Wipro Limited</h1>
              <h6> 2020-2022 </h6>
            </div>
            <div class="flip-card-back  w-100 h-auto position-absolute">
              <h3>Front-End Developer | September 2020 - November 2022
              </h3>
              <p class="text-start"><legend class="text-black">Operations Team Member (Adani Client Application)</legend><br>
          
                <b>Key Contribution:</b> Led the full lifecycle development of a critical web
                application (Digital MSR), improving its performance and user engagement by
                80%.<br>
                <b>Dashboard Optimization:</b> Developed and implemented user-friendly,
                responsive interfaces for high-traffic platforms using HighCharts & PieCharts,
                resulting in a 50% reduction in load times.<br>
                <b>API Integration:</b> Streamlined the integration between frontend and backend
                systems, improving data flow and reducing API call response times by 60%
                using Lazy loading of modules and reducing change detection.<br>
                <b>Automation:</b> Spearheaded CI/CD pipeline setup and automated testing using
                Angular's default testing frameworks which reduced deployment time by 30%
                and increased code reliability.<br>
                <b>Problem-Solving:</b> Proactively identified and resolved technical bottlenecks,
                enhancing the platform’s scalability and reducing user-reported issues by 10%.<br>
                <b>UI-Development:</b> Designed and maintained dynamic web application
                interfaces for the Adani Client Application, improving page load speeds by
                25% and enhancing user satisfaction.<br>
                <b>Operational Support:</b> Provided technical support, resolving critical system
                issues in under 2 hours on average, ensuring maximum uptime for the
                application.<br>
                <b>Implementation:</b> Added new features in line with best coding practices.
                Collaboration: Worked closely with backend developers to integrate RESTful
                APIs, improving data fetch performance by 40%</p><br>
    
            </div>
          </div>
        </div>
        <div class="flip-card mt-5 me-3 w-75  ">
          <div class="flip-card-inner position-relative w-100 h-100 ">
            <div class="flip-card-front w-100 h-100 position-absolute">
              <h1 class="display-4 text-black mt-5">TCS</h1>
              <h6> 2022-Present </h6>
            </div>
            <div class="flip-card-back  w-100 h-auto position-absolute scrollable-element">
              <h3>FrontEnd Developer | December 2022 - Present
                </h3>
                <p class="text-start">
                <legend class="text-black">Angular Developer(Mercedes-Benz , Nordea Bank)</legend>
              <b>Key Contribution:</b> Led the full lifecycle development of a critical web
                application (Digital MSR), improving its performance and user engagement by
                80%.<br>
                <b>Dashboard Optimization:</b> Developed and implemented user-friendly,
                responsive interfaces for high-traffic platforms using HighCharts & PieCharts,
                resulting in a 50% reduction in load times.<br>
                <b>API Integration:</b> Streamlined the integration between frontend and backend
                systems, improving data flow and reducing API call response times by 60%
                using Lazy loading of modules and reducing change detection.<br>
                <b>Automation:</b> Spearheaded CI/CD pipeline setup and automated testing using
                Angular's default testing frameworks which reduced deployment time by 30%
                and increased code reliability.<br>
                <b>Problem-Solving:</b> Proactively identified and resolved technical bottlenecks,
                enhancing the platform’s scalability and reducing user-reported issues by 10%<br>
                </p>
            
            </div>
          </div>
        </div>
        
  </div>      

