<div class="d-grid mt-2">
    <div class=" d-flex justify-content-between m-1 mt-2" >
        <div class="ms-5 m-1 d-flex justify-content-start" >
            <h1 class=" text text-5xl">I am one of the Projects. Below is the softcopy of "MYSELF'!</h1>     
        </div>
        
</div>
<div class="d-flex justify-content-center">
  <!-- Resume Download Button -->
 <a href="assets/Resume.pdf" download="Raeshal-Khurana-Resume.pdf" class="btn btn-secondary shadow mt-3">
  📄 Download Resume
</a>
</div>



<div>
        <ul class="navbar-nav  flex-column ms-4 mt-5 mb-5 me-2 ms-2 ">
            <li class="nav-item ms-5">
              <a class="nav-link fs-3 fw-bold" style="color: rgb(59, 43, 73);" href="https://raeshal.github.io/">1. Blog2.0</a>
            </li>
            <li class="nav-item ms-5">
              <a class="nav-link fs-3 fw-bold" style="color: rgb(178, 161, 194);" href="https://raeshal.github.io/A-Clock/">2. Live Clock</a>
            </li>
            <li class="nav-item ms-5">
                <a class="nav-link fs-3 fw-bold" style="color: rgb(34, 90, 11);" href="https://raeshal.github.io/RegistrationForm/">3. A Basic Registration Form</a>
              </li>
        
        </ul>

</div>





  
    <div class="container w-25 top-50 position-absolute opacity-75">
       
        
        <div class="coffee-header">
          <div class="coffee-header__buttons coffee-header__button-one"></div>
          <div class="coffee-header__buttons coffee-header__button-two"></div>
          <div class="coffee-header__display"></div>
          <div class="coffee-header__details"></div>
        </div>
        <div class="coffee-medium">
          <div class="coffe-medium__exit"></div>
          <div class="coffee-medium__arm"></div>
          <div class="coffee-medium__liquid"></div>
          <div class="coffee-medium__smoke coffee-medium__smoke-one"></div>
          <div class="coffee-medium__smoke coffee-medium__smoke-two"></div>
          <div class="coffee-medium__smoke coffee-medium__smoke-three"></div>
          <div class="coffee-medium__smoke coffee-medium__smoke-for"></div>
          <div class="coffee-medium__cup"></div>
        </div>
        <div class="coffee-footer"></div>
    </div>
   
</div>    













