<img class=" h-100 w-100 position-absolute" style=" filter: blur(8px);
-webkit-filter: blur(8px);"
src="https://i.pinimg.com/236x/f7/e1/d3/f7e1d3787ed90445c961f1d9a1150060.jpg">


<div id="Section4" class="position-relative ms-5">
    <div>
        <h1 class=" text text-5xl ms-5 mt-5">You have no idea what you are capable of , until you try...!</h1>
    </div>
    <div>
        <h1 class=" text text-5xl ms-5 mt-5">You have no idea what you are capable of , until you try...!</h1>
    </div>

    <div>
        <h1 class=" text text-5xl ms-5 mt-5">You have no idea what you are capable of , until you try...!</h1>
    </div>

    <div>
        <h1 class=" text text-5xl ms-5 mt-5">You have no idea what you are capable of , until you try...!</h1>
    </div>

    <div>
        <h1 class=" text text-5xl ms-5 mt-5">You have no idea what you are capable of , until you try...!</h1>
    </div>


    <footer iv class="d-flex justify-content-center">
    <a class=" text-white " routerLink="">
        <i class="fa fa-close" aria-hidden="true"></i>
    </a>
    </footer>
</div>
