/* You can add global styles to this file, and also import other style files */

body 
{
 min-height: 100vh;
}
.cover{
  display: grid;
  grid-template-columns: 1fr 7fr;
  min-height: 100vh;
 
}


.w-15
{
 width: 15% !important;
}
.container1 {
    color: #e5e5e5;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 30px 30px 10px -2px rgba(0,0,0,0.4);
  }
 


  